@import "tailwindcss";

@theme {
  --color-primary: #C0C0C0;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --animate-gradient: gradientShift 18s ease infinite;
}

@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}